.wrapper {
    max-width: 400px;
    height: auto;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.2);
    position: relative;
}

.infoBox {
    width: 100%;
    height: auto;
    position: relative;
}

.footerBox {
    padding: 10px 8px;
    align-items: flex-end;
    &__button {
        color: $mainColor;
        background: linear-gradient(180deg,#e0e0e0 0,#dbdbdb 33%,#cfcfcf 51%,#c7c7c7);
        padding: 5px 20px;
        border-radius: 5px;
        margin-right: 3px;
    }
    &__button:active {
        font-weight: bold;
    }
}